* {
    margin: 0;
    padding: 0;
    font: auto 60px "Roboto", sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
}
.header{
    background: linear-gradient(to bottom, #febf01 0%, #febf01 100%);
    height: 15vh;
    width: 75%;
    position: absolute;
    padding-top: 3vh;
}
.aside-1{
    background: linear-gradient(to bottom, #b8c6df 0%, #6d88b7 100%);
    position: absolute;
    width: 20%;
    height: 70%;
    margin-top: 15vh;
}
.footer{
    background: linear-gradient(to bottom, #dd9a3d 0%, #ca8a30 100%);
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
}
.nav{
    background: linear-gradient(to bottom, #b8c6df 0%, #6d88b7 100%);
    width: 55%;
    margin-left: 20%;
    height: 10%;
    position: absolute;
    margin-top: 15vh;
}
.main{
    width: 55%;
    height: 60%;
    background-image: linear-gradient(230deg,
                hsl(240deg 24% 72%) 0%,
                hsl(271deg 36% 74%) 11%,
                hsl(306deg 47% 75%) 22%,
                hsl(330deg 100% 81%) 34%,
                hsl(340deg 100% 81%) 45%,
                hsl(359deg 100% 81%) 56%,
                hsl(19deg 100% 75%) 67%,
                hsl(35deg 100% 68%) 78%,
                hsl(47deg 100% 60%) 89%,
                hsl(55deg 100% 50%) 100%); 
             
    position: absolute;
    margin-left: 20%;
    margin-top: 25vh;
}
.aside-2{
    background: linear-gradient(to bottom, #b8c6df 0%, #6d88b7 100%);
    position: absolute;
    width: 25%;
    margin-left: 75%;
    height: 85%;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}h1 {
    color: black;
}